<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.fitgym">

    <application
        android:name=".helpers.GymApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitGym">
        <activity
            android:name=".activities.customer.BillingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.CustomerPlansActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.PeersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.customer.TaskActivity"
            android:exported="true" />
        <activity
            android:name=".activities.admin.ManageNewCustomersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageCustomersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManageInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.ManagePlansActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".misc.EmailPassUserRegistration"
            android:exported="false" />
        <activity
            android:name=".activities.customer.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".misc.RegUserActivity"
            android:exported="false" />
        <activity
            android:name=".misc.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.LoginSignUpActivity"
            android:exported="true" />
    </application>

</manifest>